@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


*{

	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body
{
	width: 100%;
	height: 100vh;
	background-color:#000;
	background-size:cover;
	background-position:center;
}

.header .header-1
{
	float:center;
}
.container
{
	border:1px;
	width:230px;
	height:230px;
	margin-top:20px;
	margin-bottom:150px;
	margin-left:150px;
	margin-right:20px;
	font-size:18px;
}

.logo{
	position: relative;
	margin-top: 4px;
	max-width: 60px;
	/* width: 10px;
	height: 10px; */
}
  
.logo-text{
	position: absolute;
	font-size: larger;
	font-weight: 600;
	margin-left: 70px;
	color: rgba(255, 255, 255, 0.850);
	text-decoration: none;
	text-transform: uppercase;
  
}

/* .info{
	text-align: left;
	align-content: center;
	align-self: center;
	box-sizing: content-box;
	word-spacing: 3px;
} */
	

.banner{
	width: 100%;
	height: 20vh;
	background-color:#000;
	background-size:cover;
	background-position:center;
}
.navbar {
	width:85%;
	height: 50px;
	margin:auto;
	padding:35px 0;
	display:flex;
	align-items: center;
	justify-content:space-between;
}
/* .logo{
	width:120px;
	cursor:pointer;
} */
.navbar ul li{
	list-style: none;
	display:inline-block;
	margin:0 20px;
	position:relative;
}

.navbar ul li a{
	text-decoration:none;
	color:#fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content:'';
	height: 3px;
	width:0%;
	background: #009688;
	position: absolute;
	left:0;
	bottom:-10;
	transition:0.5s;
}
.navbar ul li:hover::after{
	width:100%;
	
}
.card
{
    position: relative;
    width: 17rem;
    height: 24rem;
    border-radius: 20px;
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 60px;
    overflow: hidden;
    box-shadow: 5px 20px 50px #009688;
}
.card .poster
{
    position: relative;
    overflow: hidden;
}
.card .poster::before
{
    content: '';
    position: absolute;
    bottom: -180px;
    width:100%;
    height: 100%;
    background: linear-gradient(0deg,#000 20%, transparent);
    transition: 0.5s;
    z-index:1;
}
.card:hover .poster::before
{
    bottom:0px;
}

.card .poster img
{
	position: relative;
	display: block;
	margin: 2rem;
	justify-content: center;
	align-items: center;
    width: 80%;
	height: 80%;

    transition: 0.5s;
}
.card:hover .poster img
{
    transform: translateY(-50px);
    filter: blur(5px);

}
.card .details
{
    position: absolute;
    bottom:-20rem;
    left:0;
    padding:20px;
    width: auto;
	height: auto;
    z-index: 2;
    transition: 0.7s;
}
.card:hover .details
{
    bottom: 4rem;
}
.card .details .logo
{
    max-width: 180px;
}
.card .details h1
{
    font-size:26px;
    color:#fff;
}
.card .details .info
{
    color: #fff;
    margin-top: 10px;
	font-size:14px ;
	box-sizing: content-box;
	word-wrap: break-word;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: justify;
}
.link{
	position: relative;
	text-align: right;
	margin-right: 10px;
	color:#009688 ;

	}
.link .fa-sharp
{
	color:#fff; 

}

crnter
{
	display: block;
	text-align: -webkit-center;
}

.btn{
	position: absolute;
	margin-top: 14px;
	padding: 9px 16px;
	background: #01b56a;
	color: #fff;
	border-radius: 9px;
	text-decoration: none;
}

/* .info{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: justify;
} */
